@import "variables";

.comment {
    padding-top: 10px;
    width: 100%;
    padding-right: 6px;
}
article.grid-comments {
    background: $gray-100;
    padding-left: 0px;
}
form.add-comment {
    background: $gray-100;
    padding: 10px 10px 10px 20px;
}

.comment-user-name {
    color: $primary;
    font-size: 14px;
}

.comment-date {
    color: $gray-500;
    font-size: 11px;
}

.comment-description {
    margin-top: 0px;
    font-size: 14px;
}