@import "variables";

.container {
    padding: 50px 251px;
}

fieldset {
    border: solid 1px $gray-300;
    padding: 0px;
}

fieldset.without-border-top {
    border-top: none;
}

fieldset.without-border-radius-top {
    border-radius: 0px 5px 5px 0px;
}

fieldset.without-border-radius-bottom {
    border-radius: 5px 0px 0px 5px;
}

fieldset.border-radius {
    border-radius: 5px;
}

fieldset.white {
    background-color: $white;
}

fieldset > .btn {
    float: right;
    margin: 5px;
}

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .container {
        padding: 25px 25px;
    }
}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    .container {
        padding: 25px 25px;
    }
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    .container {
        padding: 25px 25px;
    }
 }
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    .container {
        padding: 25px 25px;
    }
}