@import "variables";

.navbar {
    background-color: $white;
    border-bottom: solid 1px $gray-300;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1071;
    font-family: $font-family;
}

.navbar > h1 {
    line-height: 60px;
}

nav.nav-information {
    margin: 6px 2px 10px 0px;
    padding: 12px 0px;
}

nav.nav-information > ul > li.welcome > a {
    font-size: 16px;
    color: $gray-600;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
}

nav.nav-information > ul{
    display: flow-root;
    list-style-type: none;
    padding-left: 4px;
    padding-top: 5px;
}

nav.nav-information > ul > li.welcome {
    float: left;
}

nav.nav-information > ul > li.signout {
    float: right;
}