@import "variables";

article.post {
    background-color: $white;
    border: solid 1px $gray-300;
    border-radius: 5px;
    margin-top: 20px;
    text-align: justify;
}

article.post > table {
    padding: 5px;
    padding-right: 10px;
}

article.post > table.information-post {
    padding: 8px 5px;
    width: 100%;
}

table.information-post > tr > td.data-one {
    width: 50%;
    text-align: left;
}

table.information-post > tr > td.data-two {
    width: 50%;
    text-align: right;
}

article.post > table.actions {
    padding: 5px;
    border-bottom: solid 1px $gray-300;
    width: 100%;
    display: none;
}

table.actions-post {
    width: 100%;
}

table.actions-post > tr > td.action-one {
    text-align: left;
    display: inline-block;
}

table.actions-post > tr > td.action-two {
    border-left: none;
    width: 85%;
    text-align: left;
    display: inline-block;
}

td.td-image {
    width: 60px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.post > .container {
    border-bottom: solid 1px $gray-300;
    width: 100%;
}

.post-user-name {
    color: $primary;
    font-size: 18px;
}

.post-date {
    color: $gray-500;
    font-size: 12px;
}

.post-description {
    margin-top: 15px;
}

.label-count-comments {
    color: $gray-500;
    font-size: 14px;
}

img.profile-xs {
    width: 30px;
    border-radius: 50px;
}

img.profile-sm {
    width: 40px;
    border-radius: 50px;
}

img.profile-md {
    width: 50px;
    border-radius: 50px;
}

img.profile-lg {
    width: 60px;
    border-radius: 50px;
}

img.profile-xl {
    width: 70px;
    border-radius: 50px;
}

.actions {
    border-bottom: none;
}

.actions.in-description {
    border-bottom: none;
}

.actions.apart {
    border-bottom: solid 1px $gray-300;
}

.actions-posts.actions-in-description{
    display: inline-block;
    padding: 15px 33px 10px 0px;
}

.actions-posts.actions-apart {
    display: none;
}


.actions > .actions-posts > span {
    color: $primary;
    font-size: 15px;
    padding: 0px;
    display: block;
    height: 39px;
    line-height: 39px;
}

.actions > article.actions-posts:hover {
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 991.98px) {
    .actions-posts.actions-in-description{
        display: none;
    }
    
    .actions.apart > article.second {
        border-left: solid 1px $gray-300;
    }

    .actions-posts.actions-apart {
        display: inline-block;
        width: 49.5%;
        text-align: center;
    }

    article.post > table.information-post {
        border-bottom: solid 1px $gray-300;
    }
}
