@import "variables";
@import "navbar";
@import "container";
@import "form";
@import "buttons";
@import "post";

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $gray-100;
    font-family: $font-family;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

textarea:active,
button:active {
    border: none;
}
